@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  background-color: #141414;
  color: white;
  --text-gray: #9a9a9a;
  --logo-blue: #3232e0;
}

@media screen and (display-mode: standalone) {
}

*:focus {
  outline: none;
}
